{% extends 'base.html' %}

{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About us...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to the Django Ecommerce</p>
        </div>
    </div>
</header>

<div>
    <div class="row">
        <center>
            <div class="col-8">
                <br/><br/>
                <p align="justify">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquet dui tortor, vel facilisis erat posuere et. Etiam aliquet, lectus id fermentum luctus, libero odio iaculis nunc, id laoreet nibh massa non elit. Vestibulum mollis iaculis auctor. Proin rhoncus metus sit amet odio facilisis, non sagittis nisi ultricies. Nulla facilisi. Aliquam mollis diam eros, sit amet venenatis nisl iaculis et. Maecenas sapien lectus, tempor gravida tincidunt eu, dictum in dolor. Cras vulputate sagittis sapien, convallis finibus sem semper a. Pellentesque et risus facilisis, sodales odio tincidunt, ornare lorem. Phasellus quis orci purus. Quisque dignissim, elit eu placerat consectetur, eros metus dictum dolor, non eleifend ex tortor id lectus.
                <br/><br/>
                Etiam et nibh pulvinar, ornare ex id, feugiat turpis. Ut turpis arcu, finibus vel lobortis ac, ultrices sed libero. Nulla quis massa pellentesque, tristique leo vel, varius tellus. Proin lacus leo, cursus vel diam id, luctus venenatis urna. Ut tristique nulla at velit mattis mattis. Suspendisse condimentum tempus tortor elementum porttitor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Phasellus ornare lectus at arcu ullamcorper, vitae euismod lacus cursus. Etiam ex nulla, feugiat sit amet elit ac, lobortis consequat metus. Nulla a tincidunt erat.
                <br/><br/>
                Fusce eleifend diam augue, id consectetur lectus feugiat in. Sed ultricies in lacus id vulputate. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut vitae magna id augue imperdiet vulputate quis sit amet lectus. Sed euismod ipsum non ipsum faucibus, at ullamcorper diam porta. Nunc at hendrerit urna. Donec elit mauris, aliquam quis consectetur vitae, ornare at felis. Nulla turpis tellus, cursus id dictum eget, iaculis sit amet neque. Aliquam dignissim libero dui, id gravida diam lacinia in. Duis pellentesque nisl vitae elementum tempus. Fusce justo mi, aliquam a pharetra fringilla, ornare id ante. Sed non gravida purus, vel pharetra dui. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Praesent enim ipsum, sollicitudin non tempus vel, vulputate id nibh. Aenean faucibus lobortis velit sed euismod.
                <br/><br/>
                </p>
            </div>
        </center>
    </div>
</div>
{% endblock %}
